@import '../../variables';
.apartment_single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .left_side{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img_wrap{
            width: 50%;
        }
        .banner{
            padding: 20px;
            width: 50%;
            text-align: center;
            background-color: $primary_color;
        }
    }


.upper-pg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    height: 400px;
    z-index: -1;
}

.upper-content{
    width: 60%;
    margin-left: 5%;
    margin-bottom: -30px;
    padding: 30px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: #FFF;
        h2{
            background-color: yellow;
            font-size: 20px;
            border-radius: 5px;
            padding: 5px;
            width: 90%;
            margin-bottom: 3px;
        }

        span{
            background: #e1dbdb;
            padding-left: 5px;
            border-radius: 3px;
        }


        .inner-info{
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 10px;
            padding-bottom: 15px;
            border-bottom: 3px solid gray;
            img{
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }

            .txt{
                margin-left: 30px;
                gap: 3px;
            }
        }

        .description{
            margin-top: 15px;
            background: #e1dbdb;
            padding-left: 5px;
            border-radius: 3px;
            width: 90%;
        }
}

    .lower-pg{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
        .info_table{
            width: 70%;
            padding-top: 70px;
            display: flex;
            flex-direction: column;
            gap:40px ;
            .info_element{
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: #e1dbdb;
                border-radius: 15px;
                padding: 20px;
                .img_wrapp{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: larger;
                    }
                }
                .description{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h4{
                        font-weight: 700;
                    }
                }
            }
        }
        .price{
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            .map{
                width: 290px;
                height: 220px;
            }

            button{
                padding: 10px 30px;
                background-color: navy;
                color: #FFF;
                font-size: 18px;
                border-radius: 10px;
            }

            p{
                text-align: center;
                background-color: rgb(252, 86, 113);
                width: 70%;
                padding: 10px;
                color: #FFF;
            }
        }
    }
}

@media screen and (max-width:900px) {
    .upper-pg{
        justify-content: center !important;
        align-items: center !important;
        .upper-content{
            width: 90% !important;
            margin-left: 0 !important;
        }
    }
    .lower-pg{
        flex-direction: column !important;
        .price{
            width: 80% !important;
        }
    }
    
}
@media screen and (max-width:550px) {
    .info_table{
        width: 90% !important;
    }
}